@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --clr-bg: #121212;
  --clr-bg-secondary: #1e1e1e;
  --clr-primary: #bde045;
  --clr-text: #fff;
  --clr-paragraph: #ccc;
  --clr-nav-links: hsla(0, 0%, 7%, 0.9);
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--clr-bg);
  color: #fff;
}

img {
  max-width: 100%;
}

p {
  color: var(--clr-paragraph);
  line-height: 1.7;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 200dvh;
}

.main {
  flex-grow: 1;
}

.wrapper {
  width: min(calc(100% - 2rem), 60rem);
  margin-inline: auto;
}

span {
  color: var(--clr-primary);
}
